@model SchooleProject.Models.Cart
@{
    ViewData["Title"] = "Index";
}
<h2>Your Cart Items</h2>
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                <label for="Name">Name</label>
            </th>
            <th>
                <label for="Price">Price</label>
            </th>
            <th>
                <label for="Price">Ingredents</label>
            </th>
            <th>
                <label for="Price">Extra Ingredents</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CartItem != null)
        {
            @foreach (var cartItem in Model.CartItem)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => cartItem.dishItem.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cartItem.price)
                    </td>
                    <td>
                        @foreach (var ing in cartItem.dishItem.DishIngredients)
                        {
                            <p>@ing.Ingredient.Name</p>
                        }
                    </td>
                    @if (cartItem.ExtraIngredients != null)
                    {
                        <td>
                            @foreach (var ing in cartItem.ExtraIngredients)
                            {
                                <p>@ing.Name</p>
                            }
                        </td>
                    }
                    else
                    {
                        <td>
                            <p>Nothing to Show</p>
                        </td>

                    }
                    <td>
                        <a asp-controller="Carts" asp-action="Edit" asp-route-id="@cartItem.id">Edit</a> |
                        <a asp-controller="Carts" asp-action="Delete" asp-route-id="@cartItem.id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
