@model SchooleProject.Models.Dish
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>Dish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Category
        </dt>
        <dd>
            @Html.DisplayFor(model => model.category.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <h4>Ingredients</h4>
    <hr />
        @foreach (var i in Model.DishIngredients.Where(di => di.DishId == Model.DishId))
        {

            <p>@i.Ingredient.Name</p>
        }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.DishId">Edit</a> |
    <a asp-action="Index">Back To List</a>
</div>
